{% if slidemenu %}
        <div id="sbi_container" class="sbi_container">
            {% for item in slidemenu %}
                <div class="sbi_panel" data-bg="{{ item.image }}">
                    <a href="{{ item.href }}" class="sbi_label">{{ item.name }}</a>
                    <div class="sbi_content">
                    </div>
                </div>
            {% endfor %}
        </div>
{% endif %}